body {
    min-height: 100vh;
}


#aboutUsText {
    position: absolute;
    top: 25%;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    width: 85%;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    line-height: 45px;
    color: antiquewhite;
    height: fit-content;

}

#langs {
    font-family: arial;
    font-size: 10px;
}

.hero {
    height: fit-content;

}


@media screen and (max-width:768px) {
    #aboutUsTitle {
        font-size: 36px;
        top: 60%;
    }

    .hero {
        height: fit-content;

    }

    #aboutUsText {
        font-size: 18px;
        line-height: 20px;
        padding: 10px;
        top: 2%;

    }

    #langs {

        width: 40px;
        padding: 5px;
    }

    #langIcon {
        display: none;
    }

    footer {
        padding: 30px;

        font-size: 10px;
    }

    #myDropdown {
        width: 100%;
    }

    #contact,
    #partnership,
    #socialMedia {
        padding: 20px;
    }


}

.bar {
    padding: 2px;
    margin: 2px;
    width: 100%;
}