#header {
    display: flex;
    flex-direction: row;
    border: 2px solid;
    min-height: 150px;
    background-color: #D9D9D9;
    /**  position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    **/
}

#header>* {
    margin: auto auto;
    font-family: "Playfair Display";
}

h1 {
    color: #3C5B3D;
    font-size: 45px;

}

#header h5 {
    margin-top: auto;
    font-size: 20px;
}



#containerForlang {
    margin-top: 2%;
    margin-right: 2%;
}

#langs {
    width: 55px;
    height: 30px;
}

#langIcon {
    width: 15px;
    height: 15px;


}

#mainContent {
    background-color: #353043;
}

#searchbar {
    border: 2px solid;
    width: fit-content;
    margin: 20px auto;
    background-color: #ffff;
}

#searchbarInputField {
    border: 0;
}

#searchbarIcon {
    width: 15px;
    height: 15px;


}